body {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

p,
h3 {
  margin: 8px 0;
  padding: 0;
}

h3 {
  margin-bottom: 8px;

  font-weight: 500;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styled-text {
  font-weight: 600;
  text-decoration: underline;
}

.bordered-ad {
  padding: 4px;

  border: 1px solid gray;
  border-radius: 5px;
}

.bordered-ad--red {
  border-color: red;
}

.top-ad {
  width: 728px;
  height: 90px;
}

.banner-wrapper {
  width: 738px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-ad {
  width: 160px;
  height: 600px;
}

.text-container {
  text-align: center;
}

.text-container p:last-child {
  margin-top: 20px;
}

.counter {
  font-weight: 600;
}
